body {
  background-color: #101010;
}

.title-wrapper {
  color: #f0bf60;
}

.werking {
  background-color: #202020;
}

.lidmaatschap {
  background-color: #202020;
  border-radius: 75%;
  border-left: solid #f0bf60 10px;
}
