body {
  background-color: #101010;
  font-family: monospace;
}

.title-wrapper {
  color: #f0bf60;
  text-align: center;
}

.werking {
  background-color: #202020;
  border-radius: 15px;
  border-left: solid #f0bf60 4px;
  padding-left: 10px;
}

.lidmaatschap {
  background-color: #202020;
  border-radius: 15px;
  border-left: solid #f0bf60 4px;
  padding-left: 10px;
}
